.user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.users {
  margin-top: 10px;
  text-align: center;
  border-top-style: solid;
  border-top-width: thick;
  padding-top: 10px;
  border-top-color: darkblue;
}

.message-input {
  display: flex;
  justify-content: center;
}

.message {
  display: flex;
  flex-direction: column;
  border-style: solid;
  margin-top: 10px;
}

.messages {
  display: flex;
  flex-direction: column;
}
.messages {
  display: flex;
  flex-direction: column;
}
#profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
